@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Custom scrollbar helpers  ===== */
/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #64748b55 transparent;
}
/* WebKit (Chrome/Safari/Edge) */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.33);
  border-radius: 9999px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.55);
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

html,
body {
  overflow-x: hidden;
}
